.header-container {
  background: rgba(255, 255, 255, 0.8);
}

.header {
  margin: 0 auto;
  padding: 20px 0;

  width: 100%;
  max-width: 1300px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-menu li {
  margin: 0 10px;
  padding: 0 5px;
  
  font-weight: 600;
}

.header-menu a {
  font-weight: 400;
  text-decoration: none;
  color: #282933;
}

.header-menu a:hover {
  color: #4072a0;
}