.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  
  background: rgba(255, 255, 255, 0.8);
}

.main-header,
.sticky-header {
  margin: 0 auto;
  padding: 20px;

  width: 100%;
  max-width: 1300px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
  
  min-width: 200px;
}

.sticky-header .header-logo {
  width: auto;
  max-height: 20px;
}